<div class="toptenapp" ng-cloak>
    <header>
        <h1>New Playlist: </h1>
        <form ng-submit="createCtrl.createPlaylist()">
            <input class="new-topten"
                   placeholder="Name your playlist"
                   ng-model="createCtrl.toptenTitle"
                   autofocus>
            <div class="instructions">
                Enter your Top 10 playlist title and hit return!
            </div>
        </form>
    </header>

    <!--<add-top-ten></add-top-ten>-->
    <section class="main" ng-show="createCtrl.toptens.playlists.length">
        <h4>My Playlists</h4>
        <ul class="topten-list tracks">
            <li ng-repeat="playlist in createCtrl.toptens.playlists track by $index">
                <div class="view ">
                    <label ng-click="createCtrl.editPlaylist(playlist, $index)" ng-bind="playlist.title"></label>
                    <button class="destroy" ng-click="createCtrl.removeTopten($index)"></button>
                </div>
                <!--<form ng-submit="createCtrl.saveEdit($index)">-->
                    <!--<input class="edit" ng-trim="false" ng-model="playlist.title" ng-blur="createCtrl.saveEdit($index)">-->
                <!--</form>-->
            </li>
        </ul>
    </section>

    <footer id="footer">
    </footer>
</div>
