<div class="toptenapp" ng-cloak>
    <header ng-if="editCtrl.playlist.tracks.length < 10">
        <h1>Search the Music: </h1>
        <form ng-submit="editCtrl.searchTunes()">
            <input class="new-topten"
                   placeholder="Name your song"
                   ng-model="editCtrl.searchTerm"
                   autofocus>
            <div class="radio-buttons">
                <label class="radio-inline">
                    <input type="radio" name="optradio" ng-model="editCtrl.searchType" value="track">Song
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" ng-model="editCtrl.searchType" value="artist">Artist
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" ng-model="editCtrl.searchType" value="album">Album
                </label>
                <span class="radio-inline" ng-click="editCtrl.searchTunes()">
                    Enter something and hit return
                </span>
            </div>
        </form>
    </header>
    <header ng-if="editCtrl.playlist.tracks.length >= 10">
        <h1>You now have a top 10!</h1>
    </header>

    <section class="main">
        <h4 ng-click="editCtrl.viewPlaylist()">
            Playlist: {{editCtrl.playlist.title}}
            <span class="small">{{editCtrl.playlist.tracks.length}} tracks</span>
            <span class="small" ng-if="editCtrl.showSection != 'playlist'">(click to view)</span></h4>
        <ul class="topten-list" ng-if="editCtrl.showSection == 'playlist'" >
            <li ng-repeat="item in editCtrl.playlist.tracks track by $index">
                <div class="view">
                    <span class="thumbnail"><img ng-src="{{item.href}}" /></span>
                    <div class="name">{{$index+1}}. {{item.track}} </div>
                    <div class="artist" ng-bind="item.artist">
                    </div>
                    <button class="destroy" ng-click="editCtrl.removeTrack($index)"></button>
            </li>
        </ul>
    </section>

    <section class="main" ng-if="editCtrl.showSection == 'artist'">
        <h4>artist: (click to select)</h4>
        <ul class="topten-list">
            <li ng-repeat="item in editCtrl.searchResults track by $index" ng-click="editCtrl.getAlbums(item.name)">
                <div class="view">
                    <span class="thumbnail"><img ng-src="{{item.images[3].url}}" /></span>
                    <div ng-bind="item.name" class="name"></div>
                    <div class="genre">
                        <span ng-repeat="genre in item.genres" ng-bind="genre"></span>
                    </div>
                </div>
            </li>
        </ul>
    </section>


    <section class="main" ng-if="editCtrl.showSection == 'album'">
        <h4>albums</h4>
        <ul class="topten-list">
            <li ng-repeat="item in editCtrl.searchResults track by $index" ng-click="editCtrl.getTracks(item.href)">
                <div class="view">
                    <span class="thumbnail"><img ng-src="{{item.images[2].url}}" /></span>
                    <div ng-bind="item.name" class="name"></div>
                    <div class="artist">
                        <span ng-repeat="artist in item.artists" ng-bind="artist.name"></span>
                    </div>
                </div>
            </li>
        </ul>
    </section>


    <section class="main" ng-if="editCtrl.showSection == 'albumtracks'">
        <h4>Click a track to add to your playlist</h4>
        <ul class="topten-list">
            <li>
                <div class="view">
                    <span class="thumbnail"><img ng-src="{{editCtrl.album.images[2].url}}" /></span>
                    <div class="name">{{editCtrl.album.name}} {{editCtrl.album.release_date}}</div>
                    <div class="artist">
                        <span ng-repeat="artist in editCtrl.album.artists" ng-click="editCtrl.getAlbums(artist.name)" ng-bind="artist.name"></span>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="topten-list tracks">
            <li ng-repeat="item in editCtrl.album.tracks.items track by $index" ng-click="editCtrl.addTrack(item, editCtrl.album.images[2].url)">
                <div class="view">
                    <span class="thumbnail"><img ng-src="{{editCtrl.track.images[2].url}}" /></span>
                    <div class="name">{{$index+1}}. {{item.name}}</div>
                </div>
            </li>
        </ul>
    </section>

    <section class="main" ng-if="editCtrl.showSection == 'track'">
        <h4>tracks: Click to add to your playlist</h4>
        <ul class="topten-list">
            <li ng-repeat="item in editCtrl.searchResults track by $index" ng-click="editCtrl.addTrack(item, '')">
                <div class="view">
                    <span class="thumbnail"><img ng-src="{{item.artists.href}}" /></span>
                    <div ng-bind="item.name" class="name"></div>
                    <div class="artist">
                        <span ng-repeat="artist in item.artists" ng-bind="artist.name"></span>
                    </div>
                </div>
            </li>
        </ul>
    </section>

    <footer id="footer" ng-cloak>
        <div ng-if="editCtrl.showSection == 'playlist'">
            <csv-download
                input-array="editCtrl.playlist">
            </csv-download>
        </div>
    </footer>
</div>
