body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #f5f5f5;
	color: #4d4d4d;
	font-weight: 300;
	/*background:url(*/
	/*data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKUlEQVQYV2M8cu3/fwYosK9lYGCECYA4B5uhAjAOSCEjc/D//yAZGAAA4w8TISaACR8AAAAASUVORK5CYII=*/
	/*) repeat;*/
}
@font-face {
	font-family: 'billabongregular';
	src: url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot');
	src: url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix') format('embedded-opentype'),
	url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff') format('woff'),
	url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf') format('truetype'),
	url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.toptenapp {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	color: #4d4d4d;
	min-width: 300px;
	max-width: 750px;
	background: #fff;
	margin: 90px auto;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	0 25px 50px 0 rgba(0, 0, 0, 0.1);
	font-weight: 300;
}

.toptenapp button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.navbar-brand {
	font-family: billabongregular;
	font-size: 33px;
	color: white;
	text-shadow: aquamarine 0px 1px;
}
.navbar-inverse .navbar-brand {
	color: white;
}
.navbar-inverse .navbar-nav>li>a {
	color: white;
}
.toptenapp button, input[type="checkbox"] {
	outline: none;
}
.radio-buttons {
	padding: 10px;
}

.toptenapp .hidden {
	display: none;
}

.toptenapp input::-webkit-input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.toptenapp input::-moz-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.toptenapp input::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.toptenapp h1 {
	position: absolute;
	top: -90px;
	width: 100%;
	font-size: 5rem;
	font-weight: 400;
	text-align: center;
	color: #0000fe;
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
	border-bottom: 1px solid;
	text-shadow: #ccc 2px 2px;
}
h4 {
	padding: 15px;
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
	background: #efefef;
}
.new-topten,
.edit {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 24px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	color: inherit;
	padding: 6px;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.new-topten {
	padding: 16px;
	border: none;
	background: rgba(0, 0, 0, 0.003);
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.main {
	position: relative;
	z-index: 2;
	border-top: 1px solid #e6e6e6;
}

label[for='toggle-all'] {
	display: none;
}

.instructions {
	color: #6f1400;
	height: 34px;
	font-weight: bold;
	padding: 7px 17px;
}

.topten-list {
	background: white;
	margin: 0;
	padding: 0;
	list-style: none;
}

.topten-list .view {
	margin-left: 10px;
	height: 73px;
}
.topten-list.tracks .view {
	margin-left: 10px;
	height: 38px;
	font-size: 17px;
}

.topten-list li {
	position: relative;
	font-size: 22px;
	border-bottom: 1px solid #ededed;
	cursor: pointer;
}

.topten-list li:last-child {
	border-bottom: none;
}

.topten-list li.editing {
	border-bottom: none;
	padding: 0;
}

.topten-list li.editing .edit {
	display: block;
	width: 506px;
	padding: 13px 17px 12px 17px;
	margin: 0 0 0 43px;
}

.topten-list li.editing .view {
	display: none;
}

.topten-list li .thumbnail {
	float: left;
	padding: 0px;
	margin-bottom: 0;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
	margin-right: 20px;
}
.topten-list li .toggle {
	text-align: center;
	width: 40px;
	/* auto, since non-WebKit browsers doesn't support input styling */
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	border: none; /* Mobile Safari */
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

.topten-list li .toggle:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

.topten-list li .toggle:checked:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

.topten-list li label {
	white-space: pre;
	word-break: break-word;
	padding: 9px 45px 2px 10px;
	margin-left: 45px;
	display: block;
	line-height: 1.5;
	transition: color 0.4s;
	font-size: 1.7rem;
}
.topten-list li .name {
	padding-top: 10px;
}
.topten-list li .genre {
	padding-top: 10px;
}
.topten-list li .genre span {
	color: #00cc99;
	padding-right: 12px;
	font-size: 16px;
}
.topten-list li .artist {
	margin-top: 7px;
	font-weight: bold;
}
.topten-list li .artist span {
	color: #333;
	padding-right: 12px;
	font-size: 19px;
	font-weight: bold;
}

.topten-list li.completed label {
	color: #d9d9d9;
	text-decoration: line-through;
}

.topten-list li .destroy {
	display: none;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 30px;
	color: #cc9a9a;
	margin-bottom: 11px;
	transition: color 0.2s ease-out;
}

.topten-list li .destroy:hover {
	color: #af5b5e;
}

.topten-list li .destroy:after {
	content: '×';
}

.topten-list li:hover .destroy {
	display: block;
}

.topten-list li .edit {
	display: none;
}

.topten-list li.editing:last-child {
	margin-bottom: -1px;
}

#footer {
	color: #777;
	padding: 10px 15px;
	height: 40px;
	text-align: center;
	border-top: 1px solid #e6e6e6;
}

#footer:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50px;
	overflow: hidden;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
	0 8px 0 -3px #f6f6f6,
	0 9px 1px -3px rgba(0, 0, 0, 0.2),
	0 16px 0 -6px #f6f6f6,
	0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#toggle-all,
	.topten-list li .toggle {
		background: none;
	}

	.topten-list li .toggle {
		height: 40px;
	}

}

@media (max-width: 430px) {
	#footer {
		height: 50px;
	}

	#filters {
		bottom: 10px;
	}
}